.card {
    // padding-top: 24px;
    // padding-bottom: 10px;
    padding: 24px
}

.expansion-row {
    padding: 10px;
}
  
.expansion-header-row {
    padding: 20px 10px 0px 10px;
}
  
.help_icon {
    padding-left: 8px;
}

.product-form {
    padding: 5px;
}