<app-navigation>
    <mat-list>
      <mat-list-item>Type</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>

    <form [formGroup]="oscillatorFormGroup">
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" name="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slider [min]="100" [max]="3000" [step]="1" formControlName="frequency"></mat-slider>
      <mat-slider [min]="-153600" [max]="153600" [step]="100" formControlName="detune"></mat-slider>
    </form>

    <form [formGroup]="gainFormGroup">
      <mat-slider [min]="0" [max]="1" [step]="0.01" [thumbLabel]="thumbLabel" formControlName="gain"></mat-slider>
    </form>

    <button mat-raised-button class="button-row" color="primary" (click)="play()">Play</button>
    <button mat-raised-button class="button-row" color="primary" (click)="stop()">Stop</button>

  <!-- <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="card" fxFlex="60" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="100" fxFlex.xs="100">
      <mat-card>
        <mat-card-content>
          <div fxLayout="row wrap">
            <div class="map-row" fxFlex="100">

              <ng-container *ngIf="!loading">
                <video class="video" poster="assets/images/muteVideoBackground.svg" id="video" #video autoplay playsinline></video>
                <div style="width: 100%; height: 532.2px;">
                  <canvas #canvas></canvas>
                </div>

              </ng-container>

            </div>
            <div fxFlex="100" fxLayoutAlign="center center">
              <ng-container *ngIf="!startRec">
                <button mat-raised-button class="button-row" color="primary" (click)="startRecording()">Start Recording</button>
              </ng-container>
              <ng-container *ngIf="startRec">
                <button mat-raised-button class="button-row" color="primary" (click)="stopRecording()">Stop Recording</button>
              </ng-container>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div> -->

</app-navigation>