.card {
    padding-top: 24px;
    padding-bottom: 10px;
}

.drop-zone {
    outline: 1px dashed #3f51b5;
    // outline-offset: -10px;
    outline-offset: 10px;
}

.icon {
    font-size: 64px;
    color: #bdd4d673;
}