<app-navigation>
<h2>Device orientation</h2>
  <div>orientationTimeStamp: {{ orientationTimeStamp | number }}</div>
  <div>orientationAbsolute: {{ orientationAbsolute }}</div>
  <div>orientationX: {{ orientationX | number }}</div>
  <div>orientationY: {{ orientationY | number }}</div>
  <div>orientationZ: {{ orientationZ | number }}</div>

<h2>Device orientation</h2>
  <div>motionTimeStamp: {{ motionTimeStamp | number }}</div>
  <div>rotationInterval: {{ rotationInterval | number }}</div>
  <div>accelerationX: {{ accelerationX | number }}</div>
  <div>accelerationY: {{ accelerationY | number }}</div>
  <div>accelerationZ: {{ accelerationZ | number }}</div>
  <div>accelerationIncludingGravityX: {{ accelerationIncludingGravityX | number }}</div>
  <div>accelerationIncludingGravityY: {{ accelerationIncludingGravityY | number }}</div>
  <div>accelerationIncludingGravityZ: {{ accelerationIncludingGravityZ | number }}</div>
  <div>rotationRateAlpha: {{ rotationRateAlpha | number }}</div>
  <div>rotationRateBeta: {{ rotationRateBeta | number }}</div>
  <div>rotationRateGamma: {{ rotationRateGamma | number }}</div>
</app-navigation>
