<app-navigation>

  <!-- <div class="background-sky hero parallax"></div> -->
  

  <section #section>

    <div class="top-outline" fxLayout="column">
      <!-- First row -->
      <div fxFlex="180px">
        <div fxLayout="row" style="height: 180px">
          <div fxFlex="100" fxFlexFill fxLayoutAlign="center center">
            <mat-card class="top-card">
              Angular Demo Site
            </mat-card>
          </div>
        </div>
      </div>

      <!-- second row -->
      <div fxFlex="240px">
        <div fxLayout="row" style="height: 240px" fxLayoutAlign="space-between center">
          <div fxFlex="32" fxFlexFill>

            <mat-card>
              <mat-card-header class="card-header">
                <mat-card-title>Camera & Microphone</mat-card-title>
              </mat-card-header>
              <mat-list>
                <mat-list-item class="top-list" routerLink="/camera-microphone">
                  <mat-icon class="list-icon">
                    camera_alt
                  </mat-icon>
                  Audio & Video 
                </mat-list-item>

                <mat-list-item></mat-list-item>
                <mat-list-item></mat-list-item>
                <mat-list-item></mat-list-item>
              </mat-list>
            </mat-card>
          </div>

          <div fxFlex="32" fxFlexFill>
            <mat-card>
              <mat-card-header class="card-header">
                <mat-card-title>Native Behaviors</mat-card-title>
              </mat-card-header>
              <mat-list>
                <mat-list-item></mat-list-item>
                <mat-list-item></mat-list-item>
                <mat-list-item></mat-list-item>
                <mat-list-item></mat-list-item>
              </mat-list>
            </mat-card>
          </div>

          <div fxFlex="32" fxFlexFill>
            <mat-card>
              <mat-card-header class="card-header">
                <mat-card-title>Seamless Experience</mat-card-title>
              </mat-card-header>
              <mat-list>
                <mat-list-item></mat-list-item>
                <mat-list-item></mat-list-item>
                <mat-list-item></mat-list-item>
                <mat-list-item></mat-list-item>
              </mat-list>
            </mat-card>
          </div>
          
        </div>
      </div>
  

    </div>

    <button class="scroll-button-first" mat-fab *ngIf="hasNextSection(0)"
      (click)="scrollNextSectionIntoView(0)"
      [color]="getButtonColor(false)">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </section>

  <!-- <section #section>
    <button class="scroll-button" mat-fab *ngIf="hasNextSection(1)"
      (click)="scrollNextSectionIntoView(1)"
      [color]="getButtonColor(true)">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </section> -->

  <section #section>
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>

    <a class="github-button" href="https://github.com/naoyamaguchi/how-angular-can-do-today" data-size="large" data-show-count="true" aria-label="Star naoyamaguchi/how-angular-can-do-today on GitHub">Star</a>

    <button class="scroll-button" mat-fab *ngIf="hasNextSection(2)"
      (click)="scrollNextSectionIntoView(2)"
      [color]="getButtonColor(false)">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </section>


</app-navigation>