<app-navigation>

  <!-- <div class="background-sky hero parallax"></div> -->
  

  <section #section>

    <div class="top-outline" fxLayout="column">
      <div fxFlex="180px">
        <div fxLayout="row" style="height: 180px">
          <div fxFlex="100" fxFlexFill fxLayoutAlign="center center">
            <mat-card class="top-card">Simple card1</mat-card>
          </div>
        </div>
      </div>

      <div fxFlex="180px">
        <div fxLayout="row" style="height: 180px">
          <div fxFlex="50" fxFlexFill fxLayoutAlign="start center">
            <mat-card class="top-card top-card-line2">Simple card1</mat-card>
          </div>
          <div fxFlex="50" fxFlexFill fxLayoutAlign="end center">
            <mat-card class="top-card top-card-line2">Simple card1</mat-card>
          </div>
        </div>
      </div>
  
      <div fxFlex="180px">
        <div fxLayout="row" style="height: 180px">
          <div fxFlex="50" fxFlexFill fxLayoutAlign="start center">
            <mat-card class="top-card top-card-line2">Simple card1</mat-card>
          </div>
          <div fxFlex="50" fxFlexFill fxLayoutAlign="end center">
            <mat-card class="top-card top-card-line2">Simple card1</mat-card>
          </div>
        </div>
      </div>
    </div>

    <button class="scroll-button-first" mat-fab *ngIf="hasNextSection(0)"
      (click)="scrollNextSectionIntoView(0)"
      [color]="getButtonColor(false)">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </section>

  <!-- <section #section>
    <button class="scroll-button" mat-fab *ngIf="hasNextSection(1)"
      (click)="scrollNextSectionIntoView(1)"
      [color]="getButtonColor(true)">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </section> -->

  <section #section>
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>

    <a class="github-button" href="https://github.com/naoyamaguchi/how-angular-can-do-today" data-size="large" data-show-count="true" aria-label="Star naoyamaguchi/how-angular-can-do-today on GitHub">Star</a>

    <button class="scroll-button" mat-fab *ngIf="hasNextSection(2)"
      (click)="scrollNextSectionIntoView(2)"
      [color]="getButtonColor(false)">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </section>


</app-navigation>