<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>HOW ANGULAR CAN DO TODAY</h1>
  </mat-toolbar>
      
<mat-sidenav-container class="example-sidenav-container">

  <mat-sidenav #snav>
    <mat-nav-list>
      <!-- Camera & Microphone -->
      <h3> Camera & Microphone </h3>

      <a mat-list-item routerLink="/camera-and-microphone" fragment="audioandvideocapture">
        <mat-icon class="nav-list-icon">
          camera_alt
        </mat-icon>
        Audio & Video 
      </a>

      <a mat-list-item routerLink="/top">
        <mat-icon class="nav-list-icon">
          show_chart
        </mat-icon> 
        Audio　Visualization
      </a>

      <a mat-list-item routerLink="/top">
        <mat-icon class="nav-list-icon">
          videocam
        </mat-icon> 
        Real-time Communication 
      </a>

      <!-- Location & Position -->
      <h3> Location & Position </h3>

      <a mat-list-item routerLink="/geolocation">
        <mat-icon class="nav-list-icon">
          gps_fixed
        </mat-icon>
        Geolocation 
      </a>

      <a mat-list-item routerLink="/deviceposition">
        <mat-icon class="nav-list-icon">
          screen_rotation
        </mat-icon>
        Device Position
      </a>
    
      <!-- Surroundings -->
      <h3> Surroundings </h3>

      <a mat-list-item routerLink="/bluetooth">
        <mat-icon class="nav-list-icon">
          bluetooth
        </mat-icon>
        Bluetooth 
      </a>

      <a mat-list-item routerLink="/usb">
        <mat-icon class="nav-list-icon">
            usb
        </mat-icon>
        USB 
      </a>


      <!-- Other -->
      <h3> Other </h3>

      <a mat-list-item routerLink="/top">
        <mat-icon class="nav-list-icon">
          share
        </mat-icon>
        SNS
      </a>

      <a mat-list-item routerLink="/top">
        <mat-icon class="nav-list-icon">
            crop_free
        </mat-icon>
        QR Code 
      </a>

      <a mat-list-item routerLink="/top">
        <mat-icon class="nav-list-icon" svgIcon="firebase">
        </mat-icon>
        Firebase 
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <ng-content></ng-content>

</mat-sidenav-container>

</div>