<app-navigation>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="card" fxFlex="60" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="100" fxFlex.xs="100">
        <mat-card>
          <mat-card-content>
            <div fxLayout="row wrap">
              <div class="video-row" fxFlex="100">
                <video class="video" poster="assets/images/muteVideoBackground.svg" id="video" #video autoplay playsinline></video>
              </div>
              <div fxFlex="100" fxLayoutAlign="space-around center">

                <!-- Video-->
                <div fxFlex="90" fxFlexOffset="5" fxLayoutAlign="center center">

                <ng-container *ngIf="videoStart">
                  <button mat-fab class="mat-elevation-z1" (click)="toggleVideoMedia()" color="white" aria-label="videocam icon-button">
                      <mat-icon>videocam</mat-icon>
                  </button>
                </ng-container>

                <ng-container *ngIf="!videoStart">
                  <button mat-fab (click)="toggleVideoMedia()" color="warn" aria-label="videocam icon-button">                  
                    <mat-icon>videocam_off</mat-icon>
                  </button>
                </ng-container>

                <span class="button-supan"></span>

                <!-- Audio -->

                <ng-container *ngIf="audioStart">
                  <button mat-fab class="mat-elevation-z1" (click)="toggleAudioMedia()" color="white" aria-label="videocam icon-button">
                      <mat-icon>mic</mat-icon>
                  </button>
                </ng-container>

                <ng-container *ngIf="!audioStart">
                  <button mat-fab (click)="toggleAudioMedia()" color="warn" aria-label="audio icon-button">                  
                    <mat-icon>mic_off</mat-icon>
                  </button>
                </ng-container>


                <span class="button-supan"></span>

                <!-- Get picture -->
                <button mat-fab (click)="savePicture()" [disabled]="!videoStart" color="primary" aria-label="videocam icon-button">
                  <mat-icon>photo_camera</mat-icon>
                </button>

                <span class="button-supan"></span>

                <!-- Get rec audio -->
                <button mat-fab [disabled]="!audioStart" color="primary" aria-label="videocam icon-button">
                  <mat-icon>mic</mat-icon>
                </button>

                <span class="button-supan"></span>

                <!-- Get rec movie -->
                <button mat-fab [disabled]="!videoStart || !audioStart" color="primary" aria-label="videocam icon-button">
                  <mat-icon>videocam</mat-icon>
                </button>
                
                </div>

  



                  <!-- Menu -->
                  <div fxFlex="5">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item disabled>
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                      </button>
                      <button mat-menu-item disabled>
                        <mat-icon>videocam</mat-icon>
                        <span>Quality</span>
                      </button>
                    </mat-menu>
                  </div>

              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

</app-navigation>