.card {
    padding: 14px;
}

.title-form {
    width: 98%;
}
.calendar-form {
    width: 95%;
}

.start-date-form {
    width: 154px;
    // padding-left: 8px;
    padding-right: 8px;
    color: #3c4043;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.end-date-form {
    width: 154px;
    padding-left: 8px;
    padding-right: 8px;
    color: #3c4043;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}