<app-navigation>
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="card" fxFlex="60" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="100" fxFlex.xs="100">
      <mat-card>
        <mat-card-content>

          <form [formGroup]="calendarFormGroup">

            <div fxLayout="column" highlight="4-9">

              <!-- row 1: title & choose calender & save button-->
              <div fxFlex="75px">
                <div fxLayout="row" style="height: 75px">

                  <div fxFlex="5" fxFlexFill fxLayoutAlign="start center">
                    <button mat-icon-button (click)="close()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>

                  <div fxFlex="60" fxFlexFill fxLayoutAlign="start center">
                    <mat-form-field class="title-form">
                      <mat-label>Add title</mat-label>
                      <input matInput formControlName="title" placeholder="title">
                    </mat-form-field>
                  </div>

                  <div fxFlex="20" fxFlexFill fxLayoutAlign="start center">
                    <mat-form-field class="calendar-form">
                      <mat-label>Calenfer</mat-label>
                      <mat-select formControlName="calender">
                        <mat-option *ngFor="let calendar of calendars" [value]="calendar.value">
                          {{calendar.value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div fxFlex="15" fxFlexFill fxLayoutAlign="end center">
                    <button mat-flat-button color="primary">Save</button>
                  </div>

                </div>
              </div>

              <!-- row 2: date & time picjer -->
              <div fxFlex="75px">
                <div fxLayout="row" style="height: 75px">
                  <div fxFlex="5"  fxFlexFill fxLayoutAlign="start center"></div>

                  <div fxFlex="30" fxLayoutAlign="start center">
                    <mat-form-field class="start-date-form" appearance="outline">
                      <input matInput [matDatepicker]="dp" placeholder="Start time" formControlName="startDate" (focus)="dp.open()">
                      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div fxFlex="20" fxLayoutAlign="start center">
                    <mat-form-field class="calendar-form" appearance="outline">
                      <mat-label>Calenfer</mat-label>
                      <mat-select formControlName="startTime">
                        <mat-option *ngFor="let calendar of calendars" [value]="calendar.value">
                          {{calendar.value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div fxFlex="5" fxFlexFill fxLayoutAlign="center center">～</div>

                  <div fxFlex="30" fxLayoutAlign="start center">
                    <mat-form-field class="end-date-form" appearance="outline">
                      <input matInput [matDatepicker]="dp2" placeholder="End time" formControlName="endDate" (focus)="dp2.open()">
                      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                      <mat-datepicker #dp2></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div fxFlex="20" fxLayoutAlign="start center">
                    <mat-form-field class="calendar-form" appearance="outline">
                      <mat-label>Calenfer</mat-label>
                      <mat-select formControlName="endTime">
                        <mat-option *ngFor="let calendar of calendars" [value]="calendar.value">
                          {{calendar.value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>


                </div>
              </div>
            </div>

          </form>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-navigation>